.env
.venv
__pycache__
.vscode
.DS_Store
.idea
.pytest_cache
.ruff_cache
.vscode
.env
.venv
.egg-info
src/finscan.egg-info
src/app/core/__pycache__
src/app/util/__pycache__
src/app/setting/__pycache__
src/app/prompt/__pycache__
src/app/app/__pycache__
src/app/app.egg-info
src/app/app.egg-info

*.txt